@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --body-bck:#DDD;
  --menu-bck:#FFF;
  --color-links:#000;
  --link-bck:#e72121;
  --link-select:#e72121af;
  --shadow-links:#1f030356;
  --links-subM:#c0c0c0;
  --color-basis:#1c1c1c;
  --color-Hover:#FFF;
  --main-bck:#e9e9e9;
  --bck-ContMain:#FFF;
  --bck-btnF:#FFF;
  --ps-cards:#000;
  --bck-card:#f81b1b;
  --btnSBT:#d3d3d3;
  --btnSBT-Hover:#fffafa;
}
body.darkmode{
  --body-bck:#0e0d0d;
  --menu-bck:#1b1b1b;
  --color-links:#000;
  --link-bck:#e72121;
  --link-select:#e72121af;
  --shadow-links:#1f030356;
  --links-subM:#535353;
  --color-basis:#ffffff;
  --color-Hover:#FFF;
  --main-bck:#292828;
  --bck-ContMain:#141414;
  --ps-cards:#000000;
  --bck-btnF:#1f1e1e; 
  --bck-card:#800080;
  --btnSBT:#000;
  --btnSBT-Hover:#424242;

}
/*LINK INSTANCE*/
.linkState{
  background: var(--link-select);

}
.linkState *{
  color: #FFF;
}
/*---------------------------*/
a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins";
  list-style: none;
  color: var(--color-basis);
  scroll-behavior: smooth;
  user-select: none;
  transition: all .3s ease-in-out;

}

body{
  display: grid;
  grid-template-columns: 90px 1fr;
  min-height: 100vh;
  background: var(--body-bck);
  transition: .4s ease;
  overflow-x: hidden;
  transition: all .3s ease-in-out;
}

body.menuHover{
  grid-template-columns: 272px 1fr;
}

/*MENU DE EL SITIO WEB*/
/*header*/
.header{
  width: 95%; 
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  white-space: nowrap;
}
.text-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 10px;
}
.text-head1{
  font-weight:300;
  font-size: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.text-head2{
  font-weight: 300;
  font-size: 20px;
}
.header .logoImg{
  object-fit: contain;
  z-index: 100;
  width: 70px;
}
/*links*/
.nav-list{
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

.nav-list .item-list{
  width: 100%;
}
.nav-list .item-list .link-sty{
  padding: 20px  10px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  border-radius: 10px;
  transition: .4s ease;
  box-shadow: 0 0 5px var(--shadow-links),
  inset  0 0 2px var(--shadow-links);
  z-index: 100;
  overflow: hidden;
}
.link-sty i{
  padding: 0 0 0 13px;
  font-size: 25px;
}
.link-sty div{
  padding: 0 0 0 35px;
}
.link-sty:hover{
  background: var(--link-bck);
  box-shadow: 0 0 0;
}
.link-sty:hover *{
  color: var(--color-Hover);

}
.cont-abs{
  opacity: 0;
  transition: .2s ease ;
}
/*Sub menu*/
.sub-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  interpolate-size: allow-keywords;
}
.sub-menu.open{
  height: auto;
  transition: .5s ease;

}

.items-shows {
  width: 95%;
  border-left: #000 2px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sub-menu div li {
  transition: .3s ease-out;
  height: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sub-menu div li a{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in;
}
.sub-menu div li a:hover{
  background: var(--links-subM);
}
/*------------------------------*/
.bi-chevron-right{  
  transform-origin: initial;
  transform: rotate(0deg);
  position: absolute;
  right: 10px;
}
.bi-chevron-right.down{
  transform: rotate(90deg);
}

/*contenedor*/
.nav-cont{
  background: var(--menu-bck);
  position: fixed;
  width: 75px;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 5px;
  border-radius: 10px 10px 0 0 ;
  overflow-x: hidden;
  user-select: none;
  transition: .4s ease;
  left: -100px;
  z-index: 400;
}

.nav-cont.open{
  width: 260px;
}
.nav-cont.open .cont-abs{
  opacity: 1;
}
.nav-cont::-webkit-scrollbar{
  display: none;
}


/*-----------------------------------------------------------*/
/*Contenido del index*/
.main{
  grid-column: 2/3;
  background: var(--main-bck);
  min-height: 100dvh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 10px;
  grid-template-areas:
  "header header"
  "descript imagen"
  "sbT sbT"
  "content content"
  "foot foot"
  ;
  grid-template-rows: 90px 88vh 80px auto 100px;

  gap: 1rem;
}
.containsMain{
  position: relative;
  overflow: hidden;
}
.objectsAbs{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Titulo*/
.titleMain{
  grid-area: header;
}
.tittleText{
  position: absolute;
  background: var(--bck-ContMain);
  height: 90%;
  width: 80%;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  top: -10%;
}
/*------------------------------*/
/*Descripcion*/
.descriptionWebApp{
  grid-area: descript;
}
.descApp{
  background: var(--bck-ContMain);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 6px;
  z-index: 1;
  left: -80%;
}
/*--------------------*/
/*Imagen*/
.imagenWeb {
  grid-area: imagen;
}
.imgwP{
  position: absolute;
  width: 95%;
  object-fit: contain;
  border-radius: 5px;
  background: var(--bck-ContMain);
  padding: 14px;
  border-radius: 10px;
  left: 150%;
}
.objectOpacity{
  opacity: 0;
}
/*Explicacion*/
.subtittle{
  grid-area: sbT;
  background-color: var(--bck-ContMain);
  border-radius: 10px;
}
.sbTh2{
  width: 100%;
  height: 100%;
  top: 50%;
  position: absolute;
  transform: translate(10px,-50%);
  display: flex;
  align-items: center;
}
.contentWepp{
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 10px;
}
.contentWepp aside{
  width: 300px;
  background:var(--bck-card);
  margin: auto;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px #000;
  
  transition: .4s ease-in-out;
}
body.darkmode .contentWepp aside{
  background: linear-gradient(var(--bck-card),#000  );
}
body.darkmode .contentWepp aside *{
  color: #FFF; 
}
.contentWepp aside:hover {
  box-shadow: 0 0px 10px #000;

}
.contentWepp aside P{
  font-size: 25px;
  font-weight: 500;
  color: var(--bck-ContMain);
  
}
.descSub{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: 0.7s ease ;
  opacity: 0;
  width: 90%;
  color: var(--color-basis);
  height: 80%;
}
.contentWepp aside::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--ps-cards);
  border-radius: 10px 100% 30px 0 ;
  bottom: -10px;
  left: -10px;
  transition: all .5s ease;
}
.contentWepp aside::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--ps-cards);
  border-radius: 0 15px 50px 100%;
  top: -10px;
  right:  -10px;
  transition: all .5s ease;

}
.contentWepp aside:hover::before,
.contentWepp aside:hover::after{
  width: 130%;
  height: 130%;
}
.contentWepp aside:hover .descSub {
  opacity: 1;
  z-index: 2;
}

/*-----------------------------------------------------------*/
/* Footer Styles */
.footer{
  grid-area: foot;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.buttonMobile{
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  background: var(--bck-btnF);
  border: 1px ;
  box-shadow: 0 0 10px #000;
  top: 5px;
  left: 5px;
  border-radius: 3px;
  z-index: 200;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2px;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  z-index: 600;
}

.buttonMobile i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bi-x{
  opacity: 0;
  transition: .2s ease;
}
.buttonMobile.openn .bi-x{
  opacity: 1;
}
.bi-list{
  transition: .2s ease;
}
.buttonMobile.openn .bi-list{
  opacity: 0;
}
/*SwitchMode*/
.switchMode{
  position: fixed;
  right: 5px;
  top: 5px;
  border-radius: 10px;
  border: none;
  z-index: 999;
  padding: 25px; 
  cursor: pointer;
  background: var(--bck-btnF);
  filter: drop-shadow(0 1px 2px #000);
}
.switchMode:active{
  filter: drop-shadow(0 0px 2px #000);
}
.switchMode i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: auto;
  height: auto;
}

.switchMode .bi-brightness-high-fill{
  opacity: 0;
  transform: rotate(90deg);
}
.switchMode.darkM .bimoon{
  transform: rotate(90deg);
}
.switchMode.darkM .bi-brightness-high-fill{
  transform: rotate(0deg);
}

/*-----------------------------------------------*/
@media (max-width: 720px) {
  body {
    grid-template-columns: 1fr;
  }
  .main {
    grid-column: 1/3;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "descript"
      "imagen"
      "sbT"
      "content"
      "foot";
    grid-template-rows: 90px auto auto 80px auto 100px;
  }
  .imgwP{
    position: relative;
  }
  .objectsAbs{
    position: relative;
  }
  .buttonMobile{
    display: flex;
    position: fixed;
  }
  .nav-cont{
    position: fixed;
    top: 0;
    left: 0;
  }
  .tittleText{
    font-size: 110%; 
  }
}
